[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyring = "*"
flask = "*"
requests = "*"
click = "*"
pyopenssl = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"

[requires]
python_version = "3.9"
