[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyring = "*"
proxy-tools = "*"
pyobjc-core = "*"
pyobjc-framework-cocoa = "*"
pywebview = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"

[requires]
python_version = "3.9"
